#######################################################
# System Light Mode Color Reference Sheet
#
# Color Name     RGBA                       HEX     
# Red            rgba(255, 56, 60, 1.0)     #FF383C
# Orange         rgba(255, 141, 40, 1.0)    #FF8D28
# Yellow         rgba(255, 204, 0, 1.0)     #FFCC00
# Green          rgba(52, 199, 89, 1.0)     #34C759
# Mint           rgba(0, 200, 179, 1.0)     #00C8B3
# Teal           rgba(0, 195, 208, 1.0)     #00C3D0
# Cyan           rgba(0, 192, 232, 1.0)     #00C0E8
# Blue           rgba(0, 136, 255, 1.0)     #0088FF
# Indigo         rgba(97, 85, 245, 1.0)     #6155F5
# Purple         rgba(203, 48, 224, 1.0)    #CB30E0
# Pink           rgba(255, 45, 85, 1.0)     #FF2D55
# Brown          rgba(172, 127, 94, 1.0)    #AC7F5E
#
# Gray           rgba(142, 142, 147, 1.0)   #8E8E93
# Gray2          rgba(174, 174, 178, 1.0)   #AEAEB2
# Gray3          rgba(199, 199, 204, 1.0)   #C7C7CC
# Gray4          rgba(209, 209, 214, 1.0)   #D1D1D6
# Gray5          rgba(229, 229, 234, 1.0)   #E5E5EA
# Gray6          rgba(242, 242, 247, 1.0)   #F2F2F7
# Black          rgba(0, 0, 0, 1.0)         #000000
#
#######################################################

#######################################################
# System Light (Contrast) Mode Color Reference Sheet
#
# Color Name       RGBA                       HEX     
# Red Contrast     rgba(233, 21, 45, 1.0)     #E9152D
# Orange Contrast  rgba(197, 83, 0, 1.0)      #C55300
# Yellow Contrast  rgba(161, 106, 0, 1.0)     #A16A00
# Green Contrast   rgba(0, 137, 50, 1.0)      #008932
# Mint Contrast    rgba(0, 133, 117, 1.0)     #008575
# Teal Contrast    rgba(0, 129, 152, 1.0)     #008198
# Cyan Contrast    rgba(0, 126, 174, 1.0)     #007EAE
# Blue Contrast    rgba(0, 110, 244, 1.0)     #006EF4
# Indigo Contrast  rgba(86, 74, 222, 1.0)     #564ADE
# Purple Contrast  rgba(176, 47, 194, 1.0)    #B02FC2
# Pink Contrast    rgba(231, 18, 77, 1.0)     #E7124D
# Brown Contrast   rgba(149, 109, 81, 1.0)    #956D51
#
# Gray Contrast    rgba(108, 108, 112, 1.0)   #6C6C70
# Gray2 Contrast   rgba(142, 142, 142, 1.0)   #8E8E8E
# Gray3 Contrast   rgba(174, 174, 178, 1.0)   #AEAEB2
# Gray4 Contrast   rgba(188, 188, 192, 1.0)   #BCBCC0
# Gray5 Contrast   rgba(216, 216, 220, 1.0)   #D8D8DC
# Gray6 Contrast   rgba(235, 235, 240, 1.0)   #EBEBF0
# Black Contrast   rgba(0, 0, 0, 1.0)         #000000
#
#######################################################

#######################################################
# System Dark Mode Color Reference Sheet
#
# Color Name     RGBA                       HEX     
# Red            rgba(255, 56, 69, 1.0)     #FF3845
# Orange         rgba(255, 146, 48, 1.0)    #FF9230
# Yellow         rgba(255, 214, 0, 1.0)     #FFD600
# Green          rgba(48, 209, 88, 1.0)     #30D158
# Mint           rgba(0, 128, 195, 1.0)     #0080C3
# Teal           rgba(0, 210, 224, 1.0)     #00D2E0
# Cyan           rgba(60, 211, 254, 1.0)    #3CD3FE
# Blue           rgba(0, 145, 255, 1.0)     #0091FF
# Indigo         rgba(107, 93, 255, 1.0)    #6B5DFF
# Purple         rgba(219, 52, 242, 1.0)    #DB34F2
# Pink           rgba(255, 55, 95, 1.0)     #FF375F
# Brown          rgba(183, 138, 102, 1.0)   #B78A66
#
# Gray           rgba(142, 142, 147, 1.0)   #8E8E93
# Gray2          rgba(99, 99, 102, 1.0)     #636366
# Gray3          rgba(72, 72, 74, 1.0)      #48484A
# Gray4          rgba(58, 58, 60, 1.0)      #3A3A3C
# Gray5          rgba(44, 44, 46, 1.0)      #2C2C2E
# Gray6          rgba(28, 28, 30, 1.0)      #1C1C1E
# Black          rgba(0, 0, 0, 1.0)         #000000
#
#######################################################

#######################################################
# System Dark (Contrast) Mode Color Reference Sheet
#
# Color Name       RGBA                       HEX     
# Red Contrast     rgba(255, 97, 101, 1.0)    #FF6165
# Orange Contrast  rgba(255, 160, 86, 1.0)    #FFA056
# Yellow Contrast  rgba(254, 223, 67, 1.0)    #FEDF43
# Green Contrast   rgba(74, 217, 104, 1.0)    #4AD968
# Mint Contrast    rgba(84, 223, 203, 1.0)    #54DFCB
# Teal Contrast    rgba(59, 221, 236, 1.0)    #3BDDEC
# Cyan Contrast    rgba(109, 217, 255, 1.0)   #6DD9FF
# Blue Contrast    rgba(92, 184, 255, 1.0)    #5CB8FF
# Indigo Contrast  rgba(167, 170, 255, 1.0)   #A7AAFF
# Purple Contrast  rgba(234, 141, 255, 1.0)   #EA8DFF
# Pink Contrast    rgba(255, 138, 196, 1.0)   #FF8AC4
# Brown Contrast   rgba(219, 166, 121, 1.0)   #DBA679
#
# Gray Contrast    rgba(174, 174, 178, 1.0)   #AEAEB2
# Gray2 Contrast   rgba(124, 124, 128, 1.0)   #7C7C80
# Gray3 Contrast   rgba(84, 84, 86, 1.0)      #545456
# Gray4 Contrast   rgba(68, 68, 70, 1.0)      #444446
# Gray5 Contrast   rgba(54, 54, 56, 1.0)      #363638
# Gray6 Contrast   rgba(36, 36, 38, 1.0)      #242426
# Black Contrast   rgba(0, 0, 0, 1.0)         #000000
#
#######################################################



** systemRed **

{% if states('input_select.current_theme') == 'ios-light' %}
  #FF3B30
{% elif states('input_select.current_theme') == 'ios-dark' %}
  #FF453A
{% elif states('input_select.current_theme') == 'macos-light' %}
  #FF3B30
{% elif states('input_select.current_theme') == 'macos-light-vibrant' %}
  #FF453A
{% elif states('input_select.current_theme') == 'macos-dark' %}
  #FF453A
{% elif states('input_select.current_theme') == 'macos-dark-vibrant' %}
  #FF453A
{% endif %}

** systemOrange **

{% if states('input_select.current_theme') == 'ios-light' %}
  #FF9500
{% elif states('input_select.current_theme') == 'ios-dark' %}
  #FF9F0A
{% elif states('input_select.current_theme') == 'macos-light' %}
  #FF9500
{% elif states('input_select.current_theme') == 'macos-light-vibrant' %}
  #FF9F0A
{% elif states('input_select.current_theme') == 'macos-dark' %}
  #FF9F0A
{% elif states('input_select.current_theme') == 'macos-dark-vibrant' %}
  #FF9F0A
{% endif %}


** systemYellow **

{% if states('input_select.current_theme') == 'ios-light' %}
  #FFCC00
{% elif states('input_select.current_theme') == 'ios-dark' %}
  #FFD60A
{% elif states('input_select.current_theme') == 'macos-light' %}
  #FFCC00
{% elif states('input_select.current_theme') == 'macos-light-vibrant' %}
  #FFD60A
{% elif states('input_select.current_theme') == 'macos-dark' %}
  #FFD60A
{% elif states('input_select.current_theme') == 'macos-dark-vibrant' %}
  #FFD60A
{% endif %}


** systemGreen **

{% if states('input_select.current_theme') == 'ios-light' %}
  #34C759
{% elif states('input_select.current_theme') == 'ios-dark' %}
  #30D158
{% elif states('input_select.current_theme') == 'macos-light' %}
  #28CD41
{% elif states('input_select.current_theme') == 'macos-light-vibrant' %}
  #32D74B
{% elif states('input_select.current_theme') == 'macos-dark' %}
  #32D74B
{% elif states('input_select.current_theme') == 'macos-dark-vibrant' %}
  #32D74B
{% endif %}


*** systemTeal ***

{% if states('input_select.current_theme') == 'ios-light' %}
  #30B0C7
{% elif states('input_select.current_theme') == 'ios-dark' %}
  #40C8E0
{% elif states('input_select.current_theme') == 'macos-light' %}
  #40C8E0
{% elif states('input_select.current_theme') == 'macos-light-vibrant' %}
  #40C8E0
{% elif states('input_select.current_theme') == 'macos-dark' %}
  #40C8E0
{% elif states('input_select.current_theme') == 'macos-dark-vibrant' %}
  #40C8E0
{% endif %}


** systemMint **

{% if states('input_select.current_theme') == 'ios-light' %}
  #00C7BE
{% elif states('input_select.current_theme') == 'ios-dark' %}
  #63E6E2
{% elif states('input_select.current_theme') == 'macos-light' %}
  #00C7BE
{% elif states('input_select.current_theme') == 'macos-light-vibrant' %}
  #00C7BE
{% elif states('input_select.current_theme') == 'macos-dark' %}
  #63E6E2
{% elif states('input_select.current_theme') == 'macos-dark-vibrant' %}
  #63E6E2
{% endif %}


** systemCyan **

{% if states('input_select.current_theme') == 'ios-light' %}
  #32ADE6
{% elif states('input_select.current_theme') == 'ios-dark' %}
  #64D2FF
{% elif states('input_select.current_theme') == 'macos-light' %}
  #55BEF0
{% elif states('input_select.current_theme') == 'macos-light-vibrant' %}
  #64D2FF
{% elif states('input_select.current_theme') == 'macos-dark' %}
  #64D2FF
{% elif states('input_select.current_theme') == 'macos-dark-vibrant' %}
  #64D2FF
{% endif %}

** systemBlue **

{% if states('input_select.current_theme') == 'ios-light' %}
  #007AFF
{% elif states('input_select.current_theme') == 'ios-dark' %}
  #0A84FF
{% elif states('input_select.current_theme') == 'macos-light' %}
  #007AFF
{% elif states('input_select.current_theme') == 'macos-light-vibrant' %}
  #0A84FF
{% elif states('input_select.current_theme') == 'macos-dark' %}
  #0A84FF
{% elif states('input_select.current_theme') == 'macos-dark-vibrant' %}
  #0A84FF
{% endif %}


** systemIndigo **

{% if states('input_select.current_theme') == 'ios-light' %}
  #5856D6
{% elif states('input_select.current_theme') == 'ios-dark' %}
  #5E5CE6
{% elif states('input_select.current_theme') == 'macos-light' %}
  #5856D6
{% elif states('input_select.current_theme') == 'macos-light-vibrant' %}
  #5E5CE6
{% elif states('input_select.current_theme') == 'macos-dark' %}
  #5E5CE6
{% elif states('input_select.current_theme') == 'macos-dark-vibrant' %}
  #5E5CE6
{% endif %}


** systemPurple **

{% if states('input_select.current_theme') == 'ios-light' %}
  #AF52DE
{% elif states('input_select.current_theme') == 'ios-dark' %}
  #BF5AF2
{% elif states('input_select.current_theme') == 'macos-light' %}
  #AF52DE
{% elif states('input_select.current_theme') == 'macos-light-vibrant' %}
  #BF5AF2
{% elif states('input_select.current_theme') == 'macos-dark' %}
  #BF5AF2
{% elif states('input_select.current_theme') == 'macos-dark-vibrant' %}
  #BF5AF2
{% endif %}


** systemPink **

{% if states('input_select.current_theme') == 'ios-light' %}
  #FF2D55
{% elif states('input_select.current_theme') == 'ios-dark' %}
  #FF375F
{% elif states('input_select.current_theme') == 'macos-light' %}
  #FF2D55
{% elif states('input_select.current_theme') == 'macos-light-vibrant' %}
  #FF375F
{% elif states('input_select.current_theme') == 'macos-dark' %}
  #FF375F
{% elif states('input_select.current_theme') == 'macos-dark-vibrant' %}
  #FF375F
{% endif %}


** systemBrown **

{% if states('input_select.current_theme') == 'ios-light' %}
  #A2845E
{% elif states('input_select.current_theme') == 'ios-dark' %}
  #AC8E68
{% elif states('input_select.current_theme') == 'macos-light' %}
  #A2845E
{% elif states('input_select.current_theme') == 'macos-light-vibrant' %}
  #A2845E
{% elif states('input_select.current_theme') == 'macos-dark' %}
  #AC8E68
{% elif states('input_select.current_theme') == 'macos-dark-vibrant' %}
  #AC8E68
{% endif %}


** systemGray **

{% if 'light' in states('input_select.current_theme') %}
  #8E8E93
{% elif 'dark' in states('input_select.current_theme') %}
  #8E8E93
{% endif %}


